//=================================================
.main {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
	// .main__bg
	&__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    &::after {
      content:'';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
    }
	}
	// .main__bg-img
	&__bg-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit:cover;
    opacity: 0;
    transform: scale(1.5);
    .loaded & {
      transition: all 2s ease 0s;
      opacity: 1;
      transform: scale(1);
    }
	}
  // .main__container
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 rem(15);
  }
  // .main__logo
  &__logo {
    @include adaptiveValue("margin-bottom", 77, 29);
  }
  // .main__logo-img
  &__logo-img {
    width: 100%;
    height: auto;
    opacity: 0;
    .loaded & {
      transition: all 0.7s ease 0.5s;
      opacity: 1;
    }
  }
  // .main__text
  &__text {
    font-weight: 600;
    @include adaptiveValue("font-size", 30, 13);
    line-height: calc(36/30);
    text-align: center;

    color: rgba(49, 39, 131, 0.86);
    max-width: rem(830);

    position: relative;
    &::before {
      content:'';
      position: absolute;
      @include adaptiveValue("top", -50, -14);
      left: 50%;
      transform: translateX(-50%);
      width: 0%;
      max-width: rem(610);
      height: rem(2);
      background-color: $blue;
      // @media (max-width:$mobile){
      //    width: 61%; 
      // }
      opacity: 0;
      .loaded & {
        width: 100%;
        transition: all 1s ease 1s;
        opacity: 1;
        @media (max-width:$mobile){
           width: 61%; 
        }
      }
    }
    @include adaptiveValue("margin-bottom", 77, 29);
    opacity: 0;
    transform: translateY(50%);
    .loaded & {
      transform: translateY(0);
      transition: all 0.7s ease 0.7s;
      opacity: 1;
    }
  }
	// .main__btn-wrapper
	&__btn-wrapper {
    opacity: 0;
    .loaded & {
      transition: opacity 0.7s ease 0.9s;
      opacity: 1;
    }
	}
  // .main__btn
  &__btn {
    @include adaptiveValue("width", 410, 184);
    @include adaptiveValue("height", 82, 38);
    box-shadow: 0px 4px 21px rgba(49, 39, 131, 0.5);

    font-weight: 800;
    @include adaptiveValue("font-size", 30, 13);
    @media (max-width:$mobile){
       text-transform: uppercase; 
    }
   
  }
}
//=================================================
.aid {
  // .aid__flag
  &__flag {
  }
  // .aid__container
  &__container {
    @include adaptiveValue("padding-top", 100, 50);
    @include adaptiveValue("padding-bottom", 100, 50);
    padding: 0 rem(15);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  // .aid__title
  &__title {
    font-weight: 700;
    @include adaptiveValue("font-size", 34, 20);
    line-height: calc(41/34);
    text-align: center;
    &:not(:last-child) {
      margin-bottom: rem(30);
    }
  }
  // .aid__counter
  &__counter {
  }
  // .aid__list
  &__list {
    padding-left: rem(20);
  
  }
  // .aid__item
  &__item {
    font-weight: 500;
    @include adaptiveValue("font-size", 24, 16);
    line-height: calc(28/24);
    position: relative;
    &::before {
      content:'';
      position: absolute;
      left: rem(-20);
      top: 50%;
      border-radius: 50%;
      width: rem(4);
      height: rem(4);
      background-color: $mainColor;
    }
    &:not(:last-child) {
      margin-bottom: rem(4);
    }
  }

}
.flag-aid {
  padding: rem(13) 0;
  // .flag-aid__text
  &__text {
    font-weight: 700;
    @include adaptiveValue("font-size", 60, 23);
    line-height: calc(73/60);
    color: white;
    text-align: center;
  }
}
.counter-aid {
  display: flex;
  justify-content: center;
  @include adaptiveValue("column-gap", 97, 25, 0, 1920, 768);
  &:not(:last-child) {
    @include adaptiveValue("margin-bottom", 100, 50);
  }
  @media (max-width:600px){
      flex-direction: column-reverse;
      row-gap: rem(20);
  }
  // .counter-aid__block
  &__block {
    text-align: center;
  }
  // .counter-aid__num
  &__num {
    @include adaptiveValue("font-size", 90, 35);
    font-weight: 700;
    line-height: 1.2;
    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }
  // .counter-aid__count
  &__count {
    display: inline-block;
    &.count-one {
      @include adaptiveValue("width", 236, 100, 0, 1920, 320);
    }
    &.count-two {
      @include adaptiveValue("width", 141, 60, 0, 1920, 320);
    }
  }
  // .counter-aid__text
  &__text {
    font-weight: 700;
    @include adaptiveValue("font-size", 24, 16);
  }
}

//=================================================
.products {
  // .products__block
  &__block {
    overflow: hidden;
    height: 100vh;
    // .products__block_three
    &_three {
      display: grid;
      grid-template-columns: 33.33% 33.33% 33.33%;
      @media (max-width:$mobile){
         grid-template-columns: auto; 
         grid-template-rows: 33.33% 33.33% 33.33%;
      }
      .item {
        &:nth-child(1) {
          .item__bg-img {
            left: 0;
          }
        }
        &:nth-child(2) {
          .item__bg-img {
            left: 50%;
            transform: translateX(-50%);
          }
        }
        &:nth-child(3) {
          .item__bg-img {
            right: 0;
          }
        }
      }
    }
    // .products__block_two
    &_two {
      display: grid;
      grid-template-columns: 50% 50%;
      @media (max-width:$mobile){
        grid-template-columns: auto; 
     }
      .item {
        &:nth-child(1) {
          .item__bg-img {
            left: 0;
          }
        }
        &:nth-child(2) {
          .item__bg-img {
            right: 0;
          }
        }
      }
    }
  } 
}
.item {
  position: relative;
  overflow: hidden;
  height: 100%;
  transition: all 0s ease 0.3s;
  @media (any-hover: hover){
    &:hover{
      .item__btn {
        opacity: 1;
        pointer-events: all;
      }
    }
  }
  &._hover {
    .item__bg-img {
      opacity: 1;
    }
    .item__wrapper {
      opacity: 1;
    }
  }
  ._hover-block & {
    overflow: initial;
    .touch & {
      overflow: hidden;
    }
  }
  &::before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    .block-light-black &{
      background-color: rgba(5, 3, 28, 0.64);
    }
    .block-white & {
      background-color: rgba(255, 255, 255, 0.7);
    }
  }
  // .item__bg
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  // .item__bg-img
  &__bg-img {
    position: absolute;
		width: 100vw;
		height: 100vh;
		top: 0;
		object-fit: cover;
    opacity: 1;
    // transition: opacity 0.1s linear 0s;
    ._hover-block & {
      opacity: 0;
      .touch & {
        opacity: 1;
      }
    }
    @media (max-width:$mobile){
       width: 100%;
       height: 100%; 
    }
  }
  // .item__wrapper
  &__wrapper {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 rem(15) 0;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.3s linear 0s;
    ._hover-block & {
      opacity: 0.4;
      .touch & {
        opacity: 1;
      }
    }
  }
  // .item__link
  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: rem(38);
    @media (max-width:$mobile){
       margin-bottom: unset;
    }
  }
  // .item__logo-img
  &__logo-img {
    // width: rem(140);
    @include adaptiveValue("width", 140, 75, 0, 1920, 375);
    height: auto;
    margin-bottom: rem(37);
    @media (max-width:$mobileSmall){
        margin-bottom: rem(10);
    }
  }
  // .item__title
  &__title {
    font-weight: 800;
    // font-size: rem(64);
    @include adaptiveValue("font-size", 64, 24, 0, 1920, 375);
    line-height: calc(65/64);
    text-align: center;
    max-width: rem(380);
    .block-light-black & {
      color: white;
    }
    .block-white & {
      color: $blue;
    }
    margin-bottom: rem(13);
    @media (max-width:$mobileSmall){
          margin-bottom: rem(10);
    }
  }
  // .item__subtitle
  &__subtitle {
    font-weight: 500;
    // font-size: rem(30);
    @include adaptiveValue("font-size", 30, 18, 0, 1920, 768);
    @include adaptiveValue("font-size", 18, 16, 3, 480, 375);
    line-height: 107%;
    text-align: center;
    max-width: rem(540);
    .block-light-black & {
      color: white;
    }
    .block-white & {
      color: $blue;
    }
    @media (max-width: $mobileXS){
        display: none;
    }
  }
  // .item__btn
  &__btn {
    width: 100%;
    max-width: rem(280);
    height: rem(66);
    column-gap: rem(15);

    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease 0s;
    span {
      font-weight: 800;
      font-size: rem(30);
      line-height: 107%;
    }
    img {
      padding-top: rem(5);
      width: rem(75);
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
    }
    .block-light-black & {
      color: white;
      background-color:$orange;
    }
    .block-white & {
      color: white;
      background-color: $blue;
    }
    @media (any-hover: hover){
      &:hover{
        .block-light-black & {
          color: $orange;
          background-color: white;
          img {
            filter: invert(49%) sepia(17%) saturate(4670%) hue-rotate(8deg) brightness(100%) contrast(104%);
          }
        }
        .block-white & {
          color: $blue;
          background-color: white;
          img {
            filter: invert(13%) sepia(68%) saturate(2909%) hue-rotate(239deg) brightness(91%) contrast(97%);
          }
        }
      }
    }
    @media (max-width:$mobile){
       display: none; 
    }
  }
}
